.ourteam-header{
  text-align: center;
  margin-top: 3rem;
}

.Members{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 1rem;
  &-image{
    text-align:center;
    @media only screen and (max-width: 786px) {
      flex: 1 1 100%;
    }
  }

  &-content{
    &-icons{
      i {
        margin-right: 0.5rem;
        font-size:1.5rem;
      }
      &-linkedin {
        color: #0077B5;
      }
      &-twitter {
        color: #1DA1F2;
      }
      &-blog {
        color: $btn-color;
      }
    }
    &-description{
      font-size: 0.8rem;
      width: 40vw;
    }
    @media only screen and (max-width: 786px) {
      text-align: center;
      &-description{
        text-align: left;
        width: 100%;
      }
    }
  }
}