.navbar {
  background-image: url('../../images/nav/navbar.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;

  &-brand {
    display: flex;
    align-items: center;

    &-logo {
      height: 50px;
      display: block;
    }

    &-title {
      display: block;
      font-size: 1rem;
      letter-spacing: 0.2em;
      text-shadow: none;
    }
  }

  &-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-item {
      margin: 0 1rem;
      display: inline-block;
    }

    &-exit {
      display: none;
    }

    &-button {
      background-color: $btn-color;
      border: none;
      border-radius: 10px;
      color: $primary-font-color;
      cursor: pointer;
      padding: 0.5rem 1rem;
      text-transform: uppercase;

      &:hover {
        background-color: lighten($btn-color, 5%);
      }
    }
  }

  &-toggler {
    display: none;
  }
}

@media (max-width: 920px) {
  .navbar {
    background: none;
    display: block;

    &-menu {
      height: 4em;
    }

    &-toggler {
      display: flex;
      background-image: url('../../images/nav/navbar.png');
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-brand {
      &-logo {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -43.33px;
        height: 4rem;
      }

      &-title {
        display: none;
        font-size: 1rem;
      }
    }

    &-links {
      background-color: $secondary-color;
      width: 70vw;
      height: 100vh;
      display: block;

      &-item {
        display: block;
        padding: 1rem;
        text-align: center;
      }

      &-exit {
        display: block;
        text-align: right;
        padding: 1rem 1rem 0 0;
      }
    }
  }

  .hidden {
    display: none;
  }
}
