@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';

@import 'base/base';
@import 'base/typography';

@import 'pages/home';

@import 'components/navbar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: lightblue;
}
