*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: $primary-color;
}

a {
  color: $primary-font-color;
  text-decoration: none;
}

.main {
  min-height: 100vh;
  padding-top: 3rem;
}

.container {
  margin: 0 1.5rem;
}
