body {
  font-family: Copperplate, "Copperplate Gothic Light";
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.6;
  padding: 2rem;
  color: $color-white;
  background-color: $primary-color
}

h1 {
  font-family: Copperplate, "Copperplate Gothic Light",
    fantasy;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}