*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: $primary-color;
}

a {
  color: $primary-font-color;
  text-decoration: none;
}

.main {
  min-height: 100vh;
  padding-top: 3rem;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 50vw;
  padding-bottom: 4rem;
}

.spacer-top {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .container {
    width: 80vw;
  }
}
