.header {
  height: 85vh;
  background-image: url('../../images/hero.png');
  @include homepage-background-properties();


  @media only screen and (max-width: 767px) and (orientation: portrait) {
    height: 60vh;

    margin-top: 0;
    display:block;
    text-align: center;
    background-position-y: 6rem;
    background-position-x: 50%;
  }

  &--primary-header {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 1rem;
    padding-bottom: 15rem;

    @media only screen and (max-width: 767px) and (orientation: portrait) {
      font-size: 2rem;
      letter-spacing: 0.5rem;
      padding-bottom: 0;
    }
  }

  &--secondary-header {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.4rem;

    @media only screen and (max-width: 767px) and (orientation: portrait) {
      font-size: 1.83rem;
      letter-spacing: 0;
      margin-bottom: 10rem;
      font-weight: 600;
      height: 14vh;
      letter-spacing: 0;
      background-color: $mobile-secondary-header-background;
    }
  }
}

.quotes-section {
  
  background-image: url('../../images/sidekick.png');
  height: 50vh;
  @include homepage-background-properties();
  justify-content: flex-start;

  @media only screen and (max-width: 767px) and (orientation: portrait) {
    background-image: none;
    display: inline-block;
    position: absolute;
    top:50%;
    height: 30vh;
    text-align: center;
  }

  &--primary-para {
    padding-top:4rem;
    font-size: $default-font-size;
    justify-content: flex-start;

    @media only screen and (max-width: 767px) and (orientation: portrait) {
      font-size: 14px;
      margin: 0 3rem;
      padding-top: 0;
    }

  }
  &--secondary-para {
    padding-top: 5rem;
    font-size: $default-font-size;
    text-align: center;
    @media only screen and (max-width: 767px) and (orientation: portrait) {
      padding-top: 1rem;
      font-size: 14px;
      margin: 0 4rem;

    }
    
  }
  &--button {

    @media only screen and (max-width: 767px) and (orientation: portrait) {
      height:2.5rem !important; 
      width: 10rem !important;
      font-size: 1rem !important;
    }

  }
}



.four-step-progress-section{
  @include homepage-background-properties();
}

.how-it-works-section {
  @include homepage-background-properties();
}

.performance-metrics-section {
  @include homepage-background-properties();
}

.roadmap-section {
  @include homepage-background-properties();
}

.testimonal-section {
  @include homepage-background-properties();
}

.team-section {
  @include homepage-background-properties();
  flex-direction: row
}



