.header {
  height: 95vh;
  background-image: url('../../images/hero.png');
  background-position: 50%;
  background-size: cover;
  position: relative;
  text-align: center;
  



  &--primary-header{

    position: absolute;
    font-size: 5rem;
    transform: translate(-50%, -50%);
    font-weight: 600;
    top: 30%;
    left: 50%;
    letter-spacing: .2em
  }

  &--secondary-header{
    position: absolute;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    font-weight: 300;
    top: 75%;
    left: 50%;
    letter-spacing: .1em
  }

}