.header {
  height: 85vh;
  background-image: url('../../images/hero.png');
  @include homepage-background-properties();
  margin-top: 1rem;
  text-transform: uppercase;
  @include header-section-MQ();


  &--primary-header {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 1rem;
    padding-bottom: 15rem;


    @include header-section--primary-MQ();
  }

  &--secondary-header {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.4rem;
    @include header-section--secondary-MQ();
  }
}

.quotes-section {
  background-image: url('../../images/sidekick.png');
  height: 50vh;
  @include homepage-background-properties();
  margin-bottom:0;
  justify-content: flex-start;

  @media only screen and (max-width: 767px) and (orientation: portrait) {
    background-image: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 30vh;
    text-align: center;
  }

  &--primary-para {
    padding-top: 4rem;
    font-size: $default-font-size;
    justify-content: flex-start;

    @include quotes-section--primary-MQ();
  }

  &--secondary-para {
    padding-top: 5rem;
    font-size: $default-font-size;
    text-align: center;
    @include quotes-section--secondary-MQ();
  }

  &--button {

    @media only screen and (max-width: 767px) and (orientation: portrait) {
      height: 2.5rem !important;
      width: 10rem !important;
      font-size: 1rem !important;
    }

  }
}

.four-step-progress-section {
  background-image: url('../../images/4-step-background.png');
  @include homepage-background-properties();
  margin-top: 0;
  height: 50vh;
  
  &--header{
    font-size: $default-panel-header;
    letter-spacing: $header-letter-spacing;
  }
  &--img{
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

}

.how-it-works-section {
  height: 70h;
  @include homepage-background-properties();

  &--header{
    font-size:$default-panel-header;
    letter-spacing: $header-letter-spacing;
    margin: 5rem 0;
  }
  &--img{
    margin-bottom: 3rem;

  }

}

.performance-metrics-section {
  background-image: url('../../images/testimonial-background.png');
  height: 50vh;
  @include homepage-background-properties();
  &--header{
    font-size: $default-panel-header;
    letter-spacing: $header-letter-spacing;
    margin-bottom: 2rem;
  }
  &--list{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    li{
      border: 1px white groove;
      padding: 10px;
      margin-bottom: 5px;
    }
  }
}

.roadmap-section {
  @include homepage-background-properties();
  height: 65vh;
  &--header{
    margin-bottom: 2rem;
    font-size: $default-panel-header;
    letter-spacing: $header-letter-spacing;
  }
  &--img{
    width: 50vw;
    height: auto;
    border: 3px white solid;
    padding: 2rem;
  }

}

.testinomal-section {
  background-image: url('../../images/testimonial-background.png');
  height: 70vh;
  @include homepage-background-properties();
  text-align: center;
  
  &--header{
    font-size: $default-panel-header;
    letter-spacing: $header-letter-spacing;
    margin-bottom: 3rem;
  }

  &--quote{
    width: 25%;
    padding: 1rem;
  }

  &--quoter{
    &:not(:last-of-type) {
      margin-bottom: 6rem;
    }
    width: 50%;
    font-size: 1.1rem;

  }

}

.team-section {

  height: 60vh;


  &--header{
    font-size: $default-panel-header;
   
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &--members{
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    & h4{
      font-size: 1.2rem;
    }

  }

  &--buttons{
    margin-top: 4rem;
    align-items: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    & button{
      margin-top: 1rem;
      font-weight: 400;
      width: 12rem;
      font-size: 1rem;
    }

  }

}
