*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: #0f2027;
}

a {
  color: white;
  text-decoration: none;
}

body {
  font-family: Copperplate, "Copperplate Gothic Light";
  font-weight: 400;
  line-height: 1.6;
  color: white;
}

.header {
  height: 85vh;
  background-image: url("../../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .header {
    height: 60vh;
    margin-top: 0;
    display: block;
    text-align: center;
    background-position-y: 6rem;
    background-position-x: 50%;
  }
}
.header--primary-header {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 1rem;
  padding-bottom: 15rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .header--primary-header {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    padding-bottom: 0;
  }
}
.header--secondary-header {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .header--secondary-header {
    font-size: 1.83rem;
    letter-spacing: 0;
    margin-bottom: 10rem;
    font-weight: 600;
    height: 14vh;
    letter-spacing: 0;
    background-color: #3d494f;
  }
}

.quotes-section {
  background-image: url("../../images/sidekick.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section {
    background-image: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 30vh;
    text-align: center;
  }
}
.quotes-section--primary-para {
  padding-top: 4rem;
  font-size: 1.8rem;
  justify-content: flex-start;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section--primary-para {
    font-size: 14px;
    margin: 0 3rem;
    padding-top: 0;
  }
}
.quotes-section--secondary-para {
  padding-top: 5rem;
  font-size: 1.8rem;
  text-align: center;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section--secondary-para {
    padding-top: 1rem;
    font-size: 14px;
    margin: 0 4rem;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section--button {
    height: 2.5rem !important;
    width: 10rem !important;
    font-size: 1rem !important;
  }
}

.four-step-progress-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.how-it-works-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.performance-metrics-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.roadmap-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.testimonal-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.team-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 3rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-direction: row;
}

.navbar {
  background-image: url("../../images/navbar.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 3.5rem;
  width: 100%;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-links-item {
  margin: 0 1rem;
  display: inline-block;
}

.btn {
  background-color: #c35337;
  width: 14rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
