@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: #0f2027;
}

a {
  color: white;
  text-decoration: none;
}

.main {
  min-height: 100vh;
  padding-top: 5rem;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 90vw;
  padding-bottom: 4rem;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: white;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: Copperplate, "Copperplate Gothic Light";
}

h6 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

h5 {
  text-transform: uppercase;
  font-size: 2rem;
}

.header {
  height: 85vh;
  background-image: url("../../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .header {
    height: 60vh;
    margin-top: 0;
    display: block;
    text-align: center;
    background-position-y: 6rem;
    background-position-x: 50%;
  }
}
.header--primary-header {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 1rem;
  padding-bottom: 15rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .header--primary-header {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    padding-bottom: 0;
  }
}
.header--secondary-header {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .header--secondary-header {
    font-size: 1.5rem;
    letter-spacing: 0;
    margin-bottom: 10rem;
    font-weight: 600;
    height: 8vh;
    letter-spacing: 0;
    background-color: #3d494f;
  }
}

.quotes-section {
  background-image: url("../../images/sidekick.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 0;
  justify-content: flex-start;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section {
    background-image: none;
    display: inline-block;
    position: absolute;
    top: 53%;
    height: 30vh;
    text-align: center;
  }
}
.quotes-section--primary-para {
  padding-top: 4rem;
  font-size: 1.8rem;
  justify-content: flex-start;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section--primary-para {
    font-size: 14px;
    margin: 0 3rem;
    padding-top: 0;
  }
}
.quotes-section--secondary-para {
  padding-top: 5rem;
  font-size: 1.8rem;
  text-align: center;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section--secondary-para {
    padding-top: 1rem;
    font-size: 14px;
    margin: 0 4rem;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section--button {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.four-step-progress-section {
  background-image: url("../../images/4-step-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 0;
  height: 50vh;
}
.four-step-progress-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.four-step-progress-section--img {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .four-step-progress-section {
    display: inline-block;
    height: 40vh;
    margin-top: 10rem;
    margin-bottom: 0;
    text-align: center;
  }
  .four-step-progress-section--header {
    margin-bottom: 1rem;
  }
  .four-step-progress-section--img {
    width: 50vh;
    height: auto;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) and (max-width: 767px) and (orientation: portrait) {
  .four-step-progress-section--btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.how-it-works-section {
  height: 70h;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.how-it-works-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin: 5rem 0;
}
.how-it-works-section--img {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .how-it-works-section {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .how-it-works-section--header {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .how-it-works-section--img {
    justify-self: center;
    width: 80%;
    height: auto;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) and (max-width: 767px) and (orientation: portrait) {
  .how-it-works-section--btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.performance-metrics-section {
  background-image: url("../../images/testimonial-background.png");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.performance-metrics-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
.performance-metrics-section--list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.performance-metrics-section--list li {
  border: 1px white groove;
  padding: 10px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .performance-metrics-section {
    background-image: none;
    display: flex;
    text-align: center;
    min-height: 75vh;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }
  .performance-metrics-section--header {
    font-size: 1.1rem;
    width: 60%;
  }
  .performance-metrics-section--list {
    columns: 1;
    border: 1px white solid;
    width: 60%;
  }
  .performance-metrics-section--list li {
    border: none;
    text-transform: none;
    font-size: 0.7rem;
    font-weight: 100;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) and (max-width: 767px) and (orientation: portrait) {
  .performance-metrics-section--btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.roadmap-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 65vh;
}
.roadmap-section--header {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.roadmap-section--img--1 {
  width: 50vw;
  height: auto;
  border: 3px white solid;
  padding: 2rem;
}
.roadmap-section--img--2 {
  display: none;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .roadmap-section {
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
  }
  .roadmap-section--img--1 {
    display: none;
  }
  .roadmap-section--img--2 {
    display: inline-block;
  }
}

.testinomal-section {
  background-image: url("../../images/testimonial-background.png");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5rem 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.testinomal-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}
.testinomal-section--quote {
  width: 25%;
  padding: 1rem;
}
.testinomal-section--quoter {
  width: 50%;
  font-size: 1.1rem;
}
.testinomal-section--quoter:not(:last-of-type) {
  margin-bottom: 6rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .testinomal-section {
    height: 80vh;
    background-image: none;
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .testinomal-section--header {
    margin-bottom: 0;
  }
  .testinomal-section--quote {
    font-size: 1rem;
    width: 80%;
  }
  .testinomal-section--quoter {
    width: 80%;
    font-size: 0.75rem;
  }
}

.team-section {
  height: 60vh;
}
.team-section--header {
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.team-section--members {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.team-section--members h4 {
  font-size: 1.2rem;
}
.team-section--buttons {
  margin-top: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.team-section--buttons button {
  margin-top: 1rem;
  font-weight: 400;
  width: 12rem;
  font-size: 1rem;
}
.team-section--buttons-mobile {
  display: none;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .team-section {
    min-height: 150vh;
    background-image: none;
    margin-top: 0;
  }
  .team-section--header {
    margin-bottom: 0;
  }
  .team-section--members {
    font-size: 1rem;
    width: 100%;
  }
  .team-section--members div {
    display: flex;
    text-align: center;
    justify-items: center;
    align-content: center;
  }
  .team-section--members div span {
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 40vw;
  }
  .team-section--buttons {
    flex-direction: row;
    margin: 0;
    display: none;
  }
  .team-section--buttons-mobile {
    display: block;
  }
  .team-section--buttons-mobile .btn {
    margin-top: 0;
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) and (max-width: 767px) and (orientation: portrait) {
  .team-section--buttons-mobile .btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.process-image {
  max-width: 100%;
  max-height: 100%;
  margin: 2rem 0;
}
.process-title {
  padding: 0 2rem;
  font-size: 2rem;
}
.process-section {
  margin: 1rem;
}
.process-section-header {
  margin-bottom: 1rem;
}
.process-section-summary {
  border: 1px solid white;
  padding: 1.5rem;
}

.pod-image {
  max-width: 100%;
  max-height: 100%;
  margin: 2rem 0;
}
.pod-title {
  padding: 0 2rem;
  font-size: 2rem;
}
.pod-section {
  margin: 1rem;
}
.pod-section-header {
  margin-bottom: 1rem;
}
.pod-section-summary {
  border: 1px solid white;
  padding: 1.5rem;
}

.contact-form {
  text-align: left;
}
.contact-form-required {
  font-size: 0.5rem;
}
.navbar {
  background-image: url("../../images/navbar.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10;
}
.navbar-logo {
  height: 50px;
}
.navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.navbar-links-item {
  margin: 0 1rem;
  display: inline-block;
}

.footer {
  background-color: #0c465d;
  display: flex;
  align-items: center;
}
.footer-logo {
  height: 50px;
}
.footer-copyright {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;
}

.btn {
  background-color: #c35337;
  width: 14rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 2em;
}

.line-orange {
  width: 50vw;
  margin: 1rem 0;
  border: 1.5px #c15236 solid;
  background-color: #c15236;
}

/*# sourceMappingURL=main.css.map */
