.how-it-works-section {
  @include homepage-background-properties();

  &--header {
    font-size: $default-panel-header;
    letter-spacing: $header-letter-spacing;
    margin: 5rem 0;
  }
  &--img {
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: 767px) {
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0;

    &--header {
      margin-top: 0;
      margin-bottom: 2rem;
    }
    &--img {
      width: 80%;
      height: auto;
      margin-bottom: 0;
      @media only screen and (max-width: 767px) and (orientation: landscape) {
        width: 50vw;
      }
    }
    &--btn {
      @include quotes-section--button-MQ();
      margin-bottom: 2rem;
    }
  }
}