.performance-metrics-section {
  background-image: url('../../images/testimonial-background.png');

  @include homepage-background-properties();
  padding: 5rem 0;
  &--header {
    font-size: $default-panel-header;
    letter-spacing: $header-letter-spacing;
    margin-bottom: 2rem;
  }
  &--list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    li {
      border: 1px white groove;
      padding: 10px;
      margin-bottom: 5px;
    }
  }
  @media only screen and (max-width: 767px) {
    background-image: none;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    &--header {
      font-size:1.1rem;
    }
    &--list{
      columns: 1;
      border: 1px white solid;
      li{
        border: none;
        text-transform: none;
        font-size: 0.7rem;
        font-weight: 100;
      }
    }

    &--btn {
      @include quotes-section--button-MQ();
    }
  }
}