.quotes-section {
  background-image: linear-gradient(
      to right bottom,
      rgba($secondary-color, 0.46),
      rgba($primary-color, 0.1)
    ),
    url('../../images/section-rugby-blank.jpg');

  @include homepage-background-properties();
  font-size: $default-font-size;
  align-items: flex-start;
  padding-left: 10rem;


  &--primary-para {

    padding-top: 3rem;
    font-size: 1.5rem;
    @media only screen and (max-width: 1300px) {
      font-size: 1rem;
    }
    @media only screen and (max-width: 767px) {
      font-size: 0.8rem;
      text-align: left;
      padding-top: 0;
      
    }
  }

  
  &--secondary-para {
    text-align: center;
    align-self: center;
    padding-top: 3rem;
    @media only screen and (max-width: 767px) {
      text-align:left;
      padding-top: 1rem;
      font-size: 14px;
      align-self: flex-start;
    }
  }

  &--button {
    
    @include quotes-section--button-MQ();
    @media only screen and (max-width: 767px) {
      align-self: flex-start;
      margin-right: 15rem;
    }

    
  }
  @media only screen and (max-width: 1300px) {
    text-align: center;
    padding-left: 4rem;
  }
  @media only screen and (max-width: 767px) and (orientation: portrait) {
    
    height: 50vh;
    text-align: center;
    padding-left: 2rem;
    padding-top: 2rem;
  }
}


