.team-section {
  background-image: url('../../images/4-step-background.png');
  @include homepage-background-properties();

  &--header {
    font-size: $default-panel-header;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &--members {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    & h4 {
      font-size: 1.1rem;
    }
  }

  &--para{
    margin-top: 3rem;
    width: 90vw;
    text-align: left;
  }
  @media only screen and (max-width: 767px) {
    background-image: none;
    margin-top:0;

    &--header{
      margin-bottom: 0;
      text-align: center;
    }
    &--members{
      font-size: 1rem;
      width: 100%;
      div {
        display: flex;
        span {
          text-align: center;
          justify-self: center;
          align-self: center;
          width: 40vw;
        }
      }
    }
  }
}
