.what-we-do-section {
  background-image: url('../../images/4-step-background.png');
  @include homepage-background-properties();

  &--header {
    font-size: $default-panel-header;
    letter-spacing: $header-letter-spacing;
    margin-bottom: 3rem;
  }

  &-para {
    word-spacing: 0.2rem;
    padding-bottom: 1.5rem;
    &--bolded {
      text-decoration: underline;
      &--bigger{
        font-size: 2rem;
        color: $btn-color;
        border-bottom: 2px $btn-color solid;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 0;
    text-align: center;
    &--header {
      margin-bottom: 1rem;
    }

    &--btn {
      @include  quotes-section--button-MQ()
    }

  }
}