@mixin homepage-background-properties() {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: $gutter-height 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}