$primary-color: #0f2027;
$secondary-color: #0c465d;
$primary-font-color: white;
$mobile-secondary-header-background: #3d494f;
$btn-color: #c35337;

$default-panel-header: 1.6rem;
$default-font-size: 1.8rem;
$header-letter-spacing: 0.2rem;



$gutter-height: 5rem;
