.btn {
  background-color: $btn-color;
  width: 14rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  color: $primary-font-color;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2em;
}
