.navbar {
  background-image: url('../../images/navbar.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;

  &-logo {
    height: 50px;
  }

  &-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &-links-item {
    margin: 0 1rem;
    display: inline-block;
  }
}
