@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@keyframes slidein {
  0% {
    margin-left: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mobile-data-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: 3rem 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: #0f2027;
}

a {
  color: white;
  text-decoration: none;
}

.main {
  min-height: 100vh;
  padding-top: 3.5rem;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 50vw;
  padding-bottom: 4rem;
}

.spacer-top {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .container {
    width: 80vw;
  }
}
@font-face {
  font-family: "Venera";
  font-style: normal;
  font-weight: normal;
  src: local("Venera"), url("../../Venera-font/Venera-900.otf") format("truetype");
}
@font-face {
  font-family: "Venera-light";
  font-style: normal;
  font-weight: normal;
  src: local("Venera-light"), url("../../Venera-font/Venera-300.otf") format("truetype");
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: white;
}

a {
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
  font-family: "Venera", sans-serif;
  text-shadow: 2px 4px 1.5rem black;
}

h2,
h3,
h4 {
  font-family: "Venera-light", sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 4px 1.5rem black;
}

h1 {
  letter-spacing: 0.5rem;
}

h6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
}

h5 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}

.header {
  background-image: url("../../images/stadium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: uppercase;
  padding: 0;
  min-height: 97vh;
  border-bottom: solid 2rem #061d27;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .header {
    margin-top: 0;
    text-align: center;
    height: 50vh;
    padding: 0;
    margin-bottom: 0;
  }
}
.header--img {
  margin-top: 10vh;
  width: 20vw;
}
.header--primary-header {
  font-size: 4rem;
  animation: reveal 3s;
}
@media only screen and (max-width: 767px) {
  .header--primary-header {
    width: 90%;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    padding-bottom: 0;
  }
}
.header--secondary-header {
  text-align: center;
  letter-spacing: 0.4rem;
  animation: slidein 2s;
}
@media only screen and (max-width: 767px) {
  .header--secondary-header {
    width: 50%;
    font-size: 0.8rem;
    letter-spacing: 0;
    font-weight: 600;
    letter-spacing: 0;
  }
}
.header--arrow {
  margin-top: auto;
}

.how-it-works-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.how-it-works-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
.how-it-works-section--img {
  margin-bottom: 3rem;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .how-it-works-section {
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0;
  }
  .how-it-works-section--header {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .how-it-works-section--img {
    width: 80%;
    height: auto;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) and (max-width: 767px) and (orientation: landscape) {
  .how-it-works-section--img {
    width: 50vw;
  }
}
@media only screen and (max-width: 767px) {
  .how-it-works-section--btn {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 767px) and (max-width: 767px) {
  .how-it-works-section--btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.performance-metrics-section {
  background-image: url("../../images/testimonial-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5rem 0;
}
.performance-metrics-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
.performance-metrics-section--list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.performance-metrics-section--list li {
  border: 1px white groove;
  padding: 10px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .performance-metrics-section {
    background-image: none;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }
  .performance-metrics-section--header {
    font-size: 1.1rem;
  }
  .performance-metrics-section--list {
    columns: 1;
    border: 1px white solid;
  }
  .performance-metrics-section--list li {
    border: none;
    text-transform: none;
    font-size: 0.7rem;
    font-weight: 100;
  }
}
@media only screen and (max-width: 767px) and (max-width: 767px) {
  .performance-metrics-section--btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.quotes-section {
  background-image: linear-gradient(to right bottom, rgba(12, 70, 93, 0.46), rgba(15, 32, 39, 0.1)), url("../../images/section-rugby-blank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.8rem;
  align-items: flex-start;
  padding-left: 10rem;
}
.quotes-section--primary-para {
  padding-top: 3rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 1300px) {
  .quotes-section--primary-para {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .quotes-section--primary-para {
    font-size: 0.8rem;
    text-align: left;
    padding-top: 0;
  }
}
.quotes-section--secondary-para {
  text-align: center;
  align-self: center;
  padding-top: 3rem;
}
@media only screen and (max-width: 767px) {
  .quotes-section--secondary-para {
    text-align: left;
    padding-top: 1rem;
    font-size: 14px;
    align-self: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  .quotes-section--button {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}
@media only screen and (max-width: 767px) {
  .quotes-section--button {
    align-self: flex-start;
    margin-right: 15rem;
  }
}
@media only screen and (max-width: 1300px) {
  .quotes-section {
    text-align: center;
    padding-left: 4rem;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section {
    text-align: center;
    padding-left: 2rem;
    padding-top: 2rem;
  }
}

.roadmap-section {
  background-image: url("../../images/soccer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10rem 0;
}
.roadmap-section--header {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 767px) {
  .roadmap-section {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.team-section {
  background-image: url("../../images/4-step-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.team-section--header {
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.team-section--members {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.team-section--members h4 {
  font-size: 1.1rem;
}
.team-section--para {
  margin-top: 3rem;
  width: 90vw;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .team-section {
    background-image: none;
    margin-top: 0;
  }
  .team-section--header {
    margin-bottom: 0;
    text-align: center;
  }
  .team-section--members {
    font-size: 1rem;
    width: 100%;
  }
  .team-section--members div {
    display: flex;
  }
  .team-section--members div span {
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 40vw;
  }
}

.testinomal-section {
  background-image: url("../../images/testimonial-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 5rem 0;
}
.testinomal-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
  border-bottom: 4px #c35337 solid;
}
.testinomal-section-part {
  align-items: center;
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px white solid;
  margin-bottom: 2rem;
  padding: 1rem;
}
.testinomal-section-part--quote {
  padding: 1rem;
  font-size: 1.2rem;
}
.testinomal-section-part--quoter {
  width: 80%;
}
.testinomal-section-part--quoter:not(:last-of-type) {
  margin-bottom: 6rem;
}
@media only screen and (max-width: 767px) {
  .testinomal-section {
    background-image: none;
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .testinomal-section--header {
    margin-bottom: 0;
  }
  .testinomal-section-part {
    width: 100%;
    border: 0;
  }
  .testinomal-section-part--quote {
    font-size: 1rem;
    width: 90%;
  }
  .testinomal-section-part--quoter {
    width: 90%;
    font-size: 0.8rem;
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 1300px) {
  .testinomal-section--quote, .testinomal-section--quoter {
    width: 80%;
  }
}

.what-we-do-section {
  background-image: url("../../images/4-step-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-attachment: inherit;
}
.what-we-do-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}
.what-we-do-section-para {
  word-spacing: 0.2rem;
  padding-bottom: 1.5rem;
}
.what-we-do-section-para--bolded {
  text-decoration: underline;
}
.what-we-do-section-para--bolded--bigger {
  font-size: 2rem;
  color: #c35337;
  border-bottom: 2px #c35337 solid;
}
@media only screen and (max-width: 767px) {
  .what-we-do-section {
    margin-bottom: 0;
    text-align: center;
  }
  .what-we-do-section--header {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 767px) and (max-width: 767px) {
  .what-we-do-section--btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.ourteam-header {
  text-align: center;
  margin-top: 3rem;
}

.Members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 1rem;
}
.Members-image {
  text-align: center;
  flex: 1 1 25%;
}
@media only screen and (max-width: 786px) {
  .Members-image {
    flex: 1 1 100%;
  }
}
.Members-content {
  flex: 1 0 75%;
}
.Members-content-icons i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.Members-content-icons-linkedin {
  color: #0077B5;
}
.Members-content-icons-twitter {
  color: #1DA1F2;
}
.Members-content-icons-blog {
  color: #c35337;
}
.Members-content-description {
  font-size: 0.8rem;
}
@media only screen and (max-width: 786px) {
  .Members-content {
    text-align: center;
  }
  .Members-content-description {
    text-align: left;
  }
}

.process-image {
  max-width: 100%;
  max-height: 100%;
  margin: 2rem 0;
}
.process-title {
  padding: 0 2rem;
  font-size: 2rem;
}
.process-section {
  margin: 1rem;
}
.process-section-header {
  margin-bottom: 1rem;
}
.process-section-summary {
  border: 1px solid white;
  padding: 1.5rem;
}

.pod-image {
  max-width: 100%;
  max-height: 100%;
  margin: 2rem 0;
}
.pod-title {
  padding: 0 2rem;
  font-size: 2rem;
}
.pod-section {
  margin: 1rem;
}
.pod-section-header {
  margin-bottom: 1rem;
}
.pod-section-summary {
  border: 1px solid white;
  padding: 1.5rem;
}

.data-metrics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.data-metrics--header {
  margin: 3rem 0;
}
.data-metrics--list {
  min-width: 40vw;
}
.data-metrics--list li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  flex-direction: row;
}
.data-metrics--list li:not(:first-child) {
  background-image: url("../../images/sidekick.png");
  background-position: left-top;
  background-size: cover;
  -webkit-clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
  clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
}
.data-metrics--list li:not(:first-child) p {
  width: 15vw;
  border: 1px white solid;
  background-color: #0f2027;
  margin-left: 8vw;
  font-size: 0.88rem;
  padding: 1.5rem;
}
.data-metrics--list li:not(:first-child) p:not(:last-child) {
  width: 10vw;
  margin-left: 4vw;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.data-metrics--list--header {
  justify-content: center;
  text-align: center;
}
.data-metrics--list--header h2:last-child {
  margin-left: 16vw;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
  background-color: #0f2027;
  width: 40%;
  padding: 2rem;
}
.modal-content input[type=text],
.modal-content input[type=email],
.modal-content input[type=tel] {
  width: 100%;
  padding: 0.5rem;
}
.modal-content textarea {
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
}

.contact-group {
  margin-top: 1.5rem;
  overflow: hidden;
}

.check {
  margin-top: 2rem;
  min-height: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.check-container {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.check-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-container input:checked ~ .check-title {
  background-color: #0c465d;
}

.check-title {
  border: solid 1px white;
  padding: 0.5rem 1rem;
}

@media (max-width: 960px) {
  .modal-content {
    width: 70%;
    padding: 2rem;
  }
}
.navbar {
  background-image: url("../../images/nav/navbar.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand-logo {
  height: 50px;
  display: block;
}
.navbar-brand-title {
  display: block;
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-shadow: none;
}
.navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-links-item {
  margin: 0 1rem;
  display: inline-block;
}
.navbar-links-exit {
  display: none;
}
.navbar-toggler {
  display: none;
}

@media (max-width: 920px) {
  .navbar {
    background: none;
    display: block;
  }
  .navbar-menu {
    height: 4em;
  }
  .navbar-toggler {
    display: flex;
    background-image: url("../../images/nav/navbar.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar-brand-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -43.33px;
    height: 4rem;
  }
  .navbar-brand-title {
    display: none;
    font-size: 1rem;
  }
  .navbar-links {
    background-color: #0c465d;
    width: 70vw;
    height: 100vh;
    display: block;
  }
  .navbar-links-item {
    display: block;
    padding: 1rem;
    text-align: center;
  }
  .navbar-links-exit {
    display: block;
    text-align: right;
    padding: 1rem 1rem 0 0;
  }

  .hidden {
    display: none;
  }
}
.footer {
  background-color: #0c465d;
  display: flex;
  align-items: center;
}
.footer-logo {
  height: 50px;
}
.footer-copyright {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;
}

.btn {
  background-color: #c35337;
  width: 14rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2em;
}
.btn-accordion {
  font-size: 0.8rem;
  text-transform: none;
}
.btn-accordion-inactive {
  font-size: 0.8rem;
  background-color: #0f5774;
  text-transform: none;
}

.line-orange {
  width: 60vw;
  margin: 1rem 0;
  border: 1.5px #c15236 solid;
  background-color: #c15236;
}

/*# sourceMappingURL=main.css.map */
