@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.mobile-data-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin-top: 2rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: #0f2027;
}

a {
  color: white;
  text-decoration: none;
}

.main {
  min-height: 100vh;
  padding-top: 3.5rem;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 50vw;
  padding-bottom: 4rem;
}

.spacer-top {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .container {
    width: 80vw;
  }
}
@font-face {
  font-family: "Venera";
  font-style: normal;
  font-weight: normal;
  src: local("Venera"), url("../../Venera-font/Venera-900.otf") format("truetype");
}
@font-face {
  font-family: "Venera-light";
  font-style: normal;
  font-weight: normal;
  src: local("Venera-light"), url("../../Venera-font/Venera-300.otf") format("truetype");
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: white;
}

a {
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
  font-family: "Venera", sans-serif;
  text-shadow: 2px 4px 1.5rem black;
}

h2,
h3,
h4 {
  font-family: "Venera-light", sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 4px 1.5rem black;
}

h1 {
  letter-spacing: 0.5rem;
}

h6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
}

h5 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}

.header {
  background-image: url("../../images/stadium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: uppercase;
  padding: 0;
  min-height: 97vh;
  border-bottom: solid 2rem #061d27;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .header {
    margin-top: 0;
    text-align: center;
    height: 50vh;
    padding: 0;
    margin-bottom: 0;
  }
}
.header--img {
  margin-top: 10vh;
  width: 20vw !important;
  width: 60%;
}
.header--primary-header {
  font-size: 4rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .header--primary-header {
    width: 90%;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    padding-bottom: 0;
  }
}
.header--secondary-header {
  text-align: center;
  letter-spacing: 0.4rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .header--secondary-header {
    width: 50%;
    font-size: 0.8rem;
    letter-spacing: 0;
    font-weight: 600;
    letter-spacing: 0;
  }
}
.header--arrow {
  margin-top: auto;
}

.quotes-section {
  background-image: linear-gradient(to right bottom, rgba(12, 70, 93, 0.46), rgba(15, 32, 39, 0.1)), url("../../images/section-rugby-blank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.8rem;
  align-items: flex-start;
  padding-left: 10rem;
}
.quotes-section--primary-para {
  padding-top: 3rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 1300px) {
  .quotes-section--primary-para {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section--primary-para {
    font-size: 0.8rem;
    text-align: left;
    padding-top: 0;
  }
}
.quotes-section--secondary-para {
  text-align: center;
  padding-top: 3rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section--secondary-para {
    padding-top: 1rem;
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section--button {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}
@media only screen and (max-width: 1300px) {
  .quotes-section {
    text-align: center;
    padding-left: 4rem;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .quotes-section {
    height: 50vh;
    text-align: center;
    padding-left: 3rem;
    padding-top: 2rem;
  }
}

.four-step-progress-section {
  background-image: url("../../images/4-step-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.four-step-progress-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.four-step-progress-section--img {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .four-step-progress-section {
    margin-bottom: 0;
    text-align: center;
  }
  .four-step-progress-section--header {
    margin-bottom: 1rem;
  }
  .four-step-progress-section--img {
    width: 55vh;
    height: auto;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) and (max-width: 350px) {
  .four-step-progress-section--img {
    width: 40vh;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) and (max-width: 767px) and (orientation: portrait) {
  .four-step-progress-section--btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.how-it-works-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.how-it-works-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin: 5rem 0;
}
.how-it-works-section--img {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .how-it-works-section {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .how-it-works-section--header {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .how-it-works-section--img {
    width: 80%;
    height: auto;
    margin-bottom: 0;
  }
  .how-it-works-section--btn {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) and (max-width: 767px) and (orientation: portrait) {
  .how-it-works-section--btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.performance-metrics-section {
  background-image: url("../../images/testimonial-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5rem 0;
}
.performance-metrics-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
.performance-metrics-section--list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.performance-metrics-section--list li {
  border: 1px white groove;
  padding: 10px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .performance-metrics-section {
    background-image: none;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }
  .performance-metrics-section--header {
    font-size: 1.1rem;
  }
  .performance-metrics-section--list {
    columns: 1;
    border: 1px white solid;
  }
  .performance-metrics-section--list li {
    border: none;
    text-transform: none;
    font-size: 0.7rem;
    font-weight: 100;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) and (max-width: 767px) and (orientation: portrait) {
  .performance-metrics-section--btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.roadmap-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.roadmap-section--header {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.roadmap-section--img--1 {
  width: 50vw;
  height: auto;
  border: 3px white solid;
  padding: 2rem;
}
.roadmap-section--img--2 {
  display: none;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .roadmap-section {
    margin-bottom: 0;
    margin-top: 0;
  }
  .roadmap-section--img--1 {
    display: none;
  }
  .roadmap-section--img--2 {
    display: inline-block;
  }
}
@media only screen and (max-width: 1300px) {
  .roadmap-section--img--1 {
    width: 70vw;
  }
  .roadmap-section div {
    width: 70vw;
  }
}

.testinomal-section {
  background-image: url("../../images/testimonial-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 5rem 0;
}
.testinomal-section--header {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}
.testinomal-section--quote {
  width: 40%;
  padding: 1rem;
  font-size: 1.2rem;
}
.testinomal-section--quoter {
  width: 50%;
}
.testinomal-section--quoter:not(:last-of-type) {
  margin-bottom: 6rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .testinomal-section {
    background-image: none;
    margin-top: 0;
    margin-bottom: 3rem;
  }
  .testinomal-section--header {
    margin-bottom: 0;
  }
  .testinomal-section--quote {
    font-size: 1rem;
    width: 80%;
  }
  .testinomal-section--quoter {
    width: 80%;
    font-size: 0.75rem;
  }
  .testinomal-section--quoter:not(:last-of-type) {
    margin: 1rem 0;
  }
}
@media only screen and (max-width: 1300px) {
  .testinomal-section--quote, .testinomal-section--quoter {
    width: 80%;
  }
}
.team-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.team-section--header {
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.team-section--members {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.team-section--members h4 {
  font-size: 1.2rem;
}
.team-section--buttons {
  margin-top: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.team-section--buttons button {
  margin-top: 1rem;
  font-weight: 400;
  width: 12rem;
  font-size: 1rem;
}
.team-section--buttons-mobile {
  display: none;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .team-section {
    background-image: none;
    margin-top: 0;
  }
  .team-section--header {
    margin-bottom: 0;
    text-align: center;
  }
  .team-section--members {
    font-size: 1rem;
    width: 100%;
  }
  .team-section--members div {
    display: flex;
  }
  .team-section--members div span {
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 40vw;
  }
  .team-section--buttons {
    flex-direction: row;
    margin: 0;
    display: none;
  }
  .team-section--buttons-mobile {
    display: block;
  }
  .team-section--buttons-mobile .btn {
    margin-top: 0;
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) and (max-width: 767px) and (orientation: portrait) {
  .team-section--buttons-mobile .btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

#header--primary-header {
  animation: reveal 3s;
}

#header--secondary-header {
  animation: slidein 2s;
}

@keyframes slidein {
  0% {
    margin-left: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.process-image {
  max-width: 100%;
  max-height: 100%;
  margin: 2rem 0;
}
.process-title {
  padding: 0 2rem;
  font-size: 2rem;
}
.process-section {
  margin: 1rem;
}
.process-section-header {
  margin-bottom: 1rem;
}
.process-section-summary {
  border: 1px solid white;
  padding: 1.5rem;
}

.pod-image {
  max-width: 100%;
  max-height: 100%;
  margin: 2rem 0;
}
.pod-title {
  padding: 0 2rem;
  font-size: 2rem;
}
.pod-section {
  margin: 1rem;
}
.pod-section-header {
  margin-bottom: 1rem;
}
.pod-section-summary {
  border: 1px solid white;
  padding: 1.5rem;
}

.data-metrics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.data-metrics--header {
  margin: 3rem 0;
}
.data-metrics--list {
  min-width: 40vw;
}
.data-metrics--list li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  flex-direction: row;
}
.data-metrics--list li:not(:first-child) {
  background-image: url("../../images/sidekick.png");
  background-position: left-top;
  background-size: cover;
  -webkit-clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
  clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
}
.data-metrics--list li:not(:first-child) p {
  width: 15vw;
  border: 1px white solid;
  background-color: #0f2027;
  margin-left: 8vw;
  font-size: 0.88rem;
  padding: 1.5rem;
}
.data-metrics--list li:not(:first-child) p:not(:last-child) {
  width: 10vw;
  margin-left: 4vw;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.data-metrics--list--header {
  justify-content: center;
  text-align: center;
}
.data-metrics--list--header h2:last-child {
  margin-left: 16vw;
}

.contact-header {
  font-size: 2rem;
}
.contact-form-required {
  margin: 0 auto;
  text-align: left;
  font-size: 0.5rem;
}
.contact-form-group {
  margin: 1rem 0;
}
.contact-form-field {
  width: 100%;
  height: 2rem;
  padding: 1rem;
}
.contact-form-radio {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.contact-form-textarea {
  padding: 1rem;
  width: 100%;
  height: 8rem;
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .contact-btn {
    height: 2.5rem !important;
    width: 7rem !important;
    font-size: 0.75rem !important;
  }
}

.navbar {
  background-image: url("../../images/nav/navbar.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
}
.navbar-logo {
  height: 50px;
  display: inline-block;
}
.navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-links-item {
  margin: 0 1rem;
  display: inline-block;
}
.navbar-links-exit {
  display: none;
}
.navbar-toggler {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    background: none;
    display: block;
  }
  .navbar-menu {
    height: 4em;
  }
  .navbar-toggler {
    display: flex;
    background-image: url("../../images/nav/navbar.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -43.33px;
    height: 4rem;
  }
  .navbar-links {
    background-color: #0c465d;
    width: 70vw;
    height: 100vh;
    display: block;
  }
  .navbar-links-item {
    display: block;
    padding: 1rem;
    text-align: center;
  }
  .navbar-links-exit {
    display: block;
    text-align: right;
    padding: 1rem 1rem 0 0;
  }

  .hidden {
    display: none;
  }
}
.footer {
  background-color: #0c465d;
  display: flex;
  align-items: center;
}
.footer-logo {
  height: 50px;
}
.footer-copyright {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;
}

.btn {
  background-color: #c35337;
  width: 14rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2em;
}
.btn-accordion {
  font-size: 0.8rem;
  text-transform: none;
}
.btn-accordion-inactive {
  font-size: 0.8rem;
  background-color: #0f5774;
  text-transform: none;
}

.line-orange {
  width: 50vw;
  margin: 1rem 0;
  border: 1.5px #c15236 solid;
  background-color: #c15236;
}

/*# sourceMappingURL=main.css.map */
